<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/apple/IdeaProjects/learning-rest-assured">
        <classes>
            <class name="org.loonycorn.restassuredtests.BugsAPICRUDTests">
                <methods>
                    <include name="testPOSTCreateBugOne"/>
                    <include name="testPOSTCreateBugTwo"/>
                    <include name="testGETTwoMoreBugsPresent"/>
                    <include name="testPOSTUpdateBug"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>